@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$font-stack: "Roboto", sans-serif;
$primary-color: #6200ee;
$background-color: #f5f5f5;
$button-color-1: #ff3b30;
$button-color-2: #4cd964;
$button-color-3: #007aff;

.numbers-title {
  font-family: $font-stack;
  color: $primary-color;
  text-align: center;
  font-size: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .filter-button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: $font-stack;
    font-weight: 500;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s;

    &:nth-child(1) {
      background-color: $button-color-1;

      &:hover {
        background-color: lighten($button-color-1, 10%);
      }
    }

    &:nth-child(2) {
      background-color: $button-color-2;

      &:hover {
        background-color: lighten($button-color-2, 10%);
      }
    }

    &:nth-child(3) {
      background-color: $button-color-3;

      &:hover {
        background-color: lighten($button-color-3, 10%);
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.5);
    }
  }
}

.number-list {
  font-family: $font-stack;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.number-item {
  font-weight: 500;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  background-color: $background-color;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .button-container {
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 0.5rem;
    }
  }
}
